* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Patrick Hand', cursive;
  letter-spacing: 2px;
}

.main-heading {
  background-color: #3498db;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  border: none;
  color: #2874a6;
  border-radius: 5px;
  padding: 7px 10px;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #f7f9f9;
}

.heading {
  color: #f7f9f9;
  margin-bottom: 15px;
}
